@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f1faee;
  --text-color: #1d1d1d;

  --primary: #e63946;
  --secondary: #6b2e1a;
  --brand-secondary: #c0392b;
  --cta-whatsapp: #25d366;

  --banner-background: linear-gradient(90deg, #fff3dc 0%, #ffe3b3 100%);

  --gray: #606060;
  --light-gray: #f3f3f3;
  --brand-gradient: linear-gradient(270deg, #e63946 0%, #ff6b6b 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--secondary);
  --color-text: var(--text-color);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-cta: var(--cta-whatsapp);
  --color-brand-secondary: var(--brand-secondary);

  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);

  --background-image-brand-gradient: var(--brand-gradient);

  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .bg-banner {
    background-image: var(--banner-background);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-skeleton {
  animation: skeleton 1.2s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
